h1 {
  color: purple;
  font-size: 42px
}
body {
  font-size: 18px;
}

article {
  padding: 10px 60;
font-faily: georgia;

}

.byline
{

  font-family: georgia;
  font-weight: bold;
  font-size: 21px;
  color: gray;
}

.dateline
{font-size: 19.5px;
}

figcaption {font-size: 12px; font-style: oblique; margig-right: 10px; margin-left: 10px}

img {
  margin-right: 70px;
  padding-right: 30px
}
