h1 {
  color: black;
  font-size: 42px;
  font-family: 'Spectral', serif;
  font-weight: bold;
}
body {
  font-size: 18px;
  font-family: 'spectral'
}

article {
  padding: 20px 20px;
  letter-spacing: .9


}

blockquote
{
  align-content: center;
}
.byline
{

  font-weight: bold;
  font-size: 12px;
  color: gray;
}

.dateline
{font-size: 19.5px;
}

.caption
{
  letter-spacing: 1.7px;
}

strong
{
  font-family: 'spectral', bold;
}

figcaption {font-size: 16px; font-style: oblique; margin-right: 10px; margin-left: 10px}

img {

  padding-right: 30px
  height: auto;
  width: 400px;
  max-width: 100%
}

figure {background-color: #F1F6F7;
background-size: contain;
max-width: 600;
height: auto}

@media only screen and (max-device-width: 400px) {

    }
    @media only screen and (max-device-width: 400px) {
        div#wrapper {
            width: 400px;
        }

        div#header {
            background-image: url(media-queries-phone.jpg);
            height: 93px;
            position: relative;
        }

        div#header h1 {
            font-size: 140%;
        }

        #content {
            float: none;
            width: 100%;
        }

        #navigation {
            float:none;
            width: auto;
        }
    }
blockquote {

  font-size: 20px;
}
